@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h2, h3 {
    background-color: #e6b077;
    margin: 0;
    padding: 8px;
}

/* ----- Stil för formuläret ----- */

#booking{
    padding: 16px;
}

#booking fieldset{
    background-color:aliceblue;
    margin-bottom: 16px;
}

#booking fieldset div{
    display: grid;
    gap: 0.5em;
    white-space: nowrap;
}

#date div{
    grid-template-columns: 1fr 1fr;
}

#customer div{
    grid-template-columns: min-content auto;
}

#customer input{
    max-width: 40ch;
}

#customer #zipcode{
    width: 6ch;
}

#booking legend{
    font-weight: bold;
}

#send{
    text-align: center;
}

#send input{
    font-size: 1.5em; 
    border-radius: 0.6em;
    background-color: #7BE;
}

#rubrik{
    color: aqua;
    text-shadow:1px 1px 1px #000000;
}

#svar{
    width: 300px;
    height: 100px;
    background-color: #7BE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    text-align: center;
    padding: 37px 0;
    border-radius: 20px;
    border: #000000 solid;
    transition: all 5s, color 1s, transform 4s ;
    box-shadow: 10px 10px #3f94d5; 
}

#svar:hover{
    color: white;
    background-color:#eea077;
    border-color: white;
    box-shadow: 10px 10px #d5763f;
    transform: rotate(360deg);
}

@media screen and (max-width:500px){
    
    body{
        color: green;
    }
    
    #date div{
        grid-template-columns: auto;
    }
}